.menu-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.map-selection{
    display: block;
    width: 100%;
    height: auto;
    min-height: 100px;
    border: 3px solid white;
    margin: 5px 0;
    cursor: pointer;
    transition: .2s;
    background-size: cover;
    text-align: center;
}

.map-selection span{
    line-height: 100px;
    color: white;
    font-size: 18px;
    text-shadow: 3px 3px 7px black, -3px -3px 7px black;
}

.map-selection:hover{
    border: 3px solid #20308b;
    transition: .2s;
}